{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-vue-jsx",
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "element-ui": "arche-ui"
      }
  }]],
  "env": {
    "utils": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
          }
        ]
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui"],
          "alias": {
            "element-ui/src": "element-ui/lib"
          }
        }]
      ]
    }
  }
}
